/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 /* propiedades del menu */
.menu ul li{
    background-color: rgb(141, 117, 117);

    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1.1rem;
    z-index: 2;
    font-weight: bold;
    
}


.header{
    background-color: rgb(0, 0, 0);
    margin: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0px;
    
}
header nav ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
header nav ul li a{
    text-decoration: none;
}


/* propiedades del titulo */
.titulo{
    text-align: center;
    padding: 5px;
}

/* Propiedades del logo*/
header div img{
    width: 60%;
}

/* propiedades main index */
main{
    background-color: rgb(151, 95, 55);
    margin: 1rem;
    padding: 1rem;
}

.parrafo1{
    text-align: center;
    font-size: 1.5rem;
    text-decoration: solid bold black;
}
.parrafo2{
    text-align: center;
    font-size: 1.5rem;
}
.parrafo3{
    text-align: center;
    font-size: 1.5rem;
}

/* propiedades del footer */

footer{
    background-color: rgb(120, 58, 58);
    margin: 1rem;
    padding: 1rem;
}
footer h2{
    text-align: center;
    text-decoration: solid;
    
}

.img1{
    margin: 1.3rem;
    display: flex;
    justify-content: center;

}

.img2{
    margin: 50px 50px 50px 50px;
    display: flex;
    justify-content: center;
}

/* propiedades formulario de contacto */
.form{
    margin: 30px;
}

.divContact{
    margin: 10px;
}
/* propiedades index nosotros */
.nosotrosH1{
    text-align: center;
}
.imgNos{
    margin: 20px;
    display: flex;
    justify-content: center;
}
.parrafoNos{
    margin: 30px;
    font-size: 1.2rem;
}

/* propiedades ubicacion */

.ubiH1{
    text-align: center;
}
.mapa{
    margin: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.parrafoUbi{
    text-align: center;
    font-size: 1.5rem;
}




/* propiedades del index imagenes */
.mainImg{
    margin: 30px;
}
.h1Img{
    text-align: center;
    font-weight: bold;
    margin: 2px;
    padding: 5px;
    
}
.imgCampo{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.campoImg{
    display: flex;
    justify-content: center;
    margin: 40px;
}
.videos{
    margin: 40px;
    display: flex;
    justify-content: space-around;
}



/* propiedades index contacto */
.h1Cont{
    text-align: center;
}

.imgContact{
    display: flex;
    justify-content: center;
}
.formu{
    width: 400px;
    
}
.divContact{
    text-align: center;
    font-size: 1.5rem;
}
.form{
    width: 350px;
}
.real{
    display: flex;
    justify-content: center;
}
/* GRID INDEX */
body{
    display: grid;
    grid-template-columns: ;
    grid-template-rows: ;
    grid-template-areas: "header"
                         "titulo"
                         "parrafo1"
                         "img1"
                         "parrafo2"
                         "img2"
                         "parrafo3"
                         "footer";
}
header{
    grid-area: header;
}
.titulo{
    grid-area: titulo;
}
.parrafo1{
    grid-area: parrafo1;
}
.img1{
    grid-area: img1;
}
.parrafo2{
    grid-area: parrafo2;
}
.img2{
    grid-area: img2;
}
.parrafo3{
    grid-area: parrafo3;
}
footer{
    grid-area: footer;
}

/* GRID INDEX IMAGENES */
.bodyIndex{
    display: grid;
    grid-template-columns: ;
    grid-template-rows: ;
    grid-template-areas: "header"
                         "h1Img"
                         "imgCampo"
                         "campoImg"
                         "videos"
                         "footer";
}
.h1Img{
    grid-area: h1Img;
}
.imgCampo{
    grid-area: imgCampo;
}
.campoImg{
    grid-area: campoImg;
}
.videos{
    grid-area: videos;
}

/* GRID INDEX NOSOTROS */
.bodyNos{
    display: grid;
    grid-template-columns: ;
    grid-template-rows: ;
    grid-template-areas: "header"
                         "nosotrosH1"
                         "parrafoNos"
                         "imgNos"
                         "footer";
}
.nosotrosH1{
    grid-area: nosotrosH1;
}
.parrafoNos{
    grid-area: parrafoNos;
}
.imgNos{
    grid-area: imgNos;
}
/* GRID INDEX UBI */
.bodyUbi{
    display: grid;
    grid-template-columns: ;
    grid-template-rows: ;
    grid-template-areas: "header"
                         "ubiH1"
                         "mapa"
                         "parrafoUbi"
                         "footer";
}
.ubiH1{
    grid-area: ubiH1;
}
.mapa{
    grid-area: mapa;
}
.parrafoUbi{
    grid-area: parrafoUbi;
}

/* MEDIA INDEX */
@media (min-width:320px) and (max-width:600px){
    header{
        width: 50%;
        margin: 1px;
        padding: 1px;
    }
    header div a img{
        display: none;
    }
    header nav ul li{
        width: 30%;
    }
    main{
        width: 50%;
    }
    .img2{
        width: 25%;
        height: 25%;
    }
    body{
        margin: 1px;
        padding: 1px;
        grid-template-areas: "header"
                         "titulo"
                         "img1"
                         "img2"
                         "p4"
                         "footer";
    }
    .p4{
        width: 45%;
        height: 40%;
        text-align: center;
        justify-content: center;
    }
    .parrafo2{
        display: none;
    }
    .parrafo3{
        display: none;
    }
    .parrafo1{
        display: none;

    }
    .img1{
        width: 25%;
        height: 25%;
    }
    footer{
       width: 50%;
    }

    .titulo{
        text-align: center;
    }
}